Options -Indexes
ErrorDocument 404 /segurity/404.html
Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://www.google.com/recaptcha/; style-src 'self'; img-src 'self';"
<Directory "/path/to/uploads">
    php_flag engine off
</Directory>