<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Inserir Article</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <form action="../controllers/insertar.controller.php" method="POST" enctype="multipart/form-data">
        <h2>Inserir Article</h2>
        <label for="nombre">Nom de l'Article:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="cuerpo">Cos de l'Article:</label>
        <textarea id="cuerpo" name="cuerpo" required></textarea>
        <label for="imagen">Imatge:</label>
        <input type="file" id="imagen" name="imagen" accept="image/*" required>
        <button type="submit">Inserir</button>
    </form>
</body>
</html>