<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Pokedex Global-Mis Pokemons</title>
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <a href="../index.php" class="btn back-to-index">Tornar a l'índex</a>
    <form id="pokemons-form">
        <label for="pokemons_por_pagina" class="label-pokemons">Pokemons per pàgina:</label>
        <select name="pokemons_por_pagina" id="pokemons_por_pagina" class="select-pokemons">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <label for="orden" class="label-orden">Orden:</label>
        <select name="orden" id="orden" class="select-orden">
            <option value="asc">Ascendent</option>
            <option value="desc">Descendent</option>
        </select>
    </form>
    <div id="mi-pokedex-container">
        <!-- El contenido se cargará aquí desde misPokemons.php -->
    </div>
    <script>
        function loadMisPokemons(pagina = 1) {
            const pokemonsPorPagina = document.getElementById('pokemons_por_pagina').value;
            const orden = document.getElementById('orden').value;
            fetch(`../controllers/miPokedex.controller.php?pagina=${pagina}&pokemons_por_pagina=${pokemonsPorPagina}&orden=${orden}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('mi-pokedex-container').innerHTML = data;
                });
        }

        // Cargar el contenido de miPokedex.controller.php al cargar la página
        document.addEventListener('DOMContentLoaded', () => {
            loadMisPokemons();
        });

        // Manejar el cambio en el desplegable
        document.getElementById('pokemons_por_pagina').addEventListener('change', () => {
            loadMisPokemons();
        });

        document.getElementById('orden').addEventListener('change', () => {
            loadMisPokemons();
        });

        // Manejar la paginación
        document.getElementById('mi-pokedex-container').addEventListener('click', (event) => {
            if (event.target.tagName === 'A' && event.target.classList.contains('pagination-link')) {
                event.preventDefault();
                const pagina = event.target.getAttribute('data-page');
                loadMisPokemons(pagina);
            }
        });
    </script>
</body>
</html>