<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Modificar Article</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <form action="../controllers/modificar.controller.php" method="POST" enctype="multipart/form-data">
        <h2>Modificar Article</h2>
        <input type="hidden" id="id" name="id" required>
        <label for="nombre">Nom de l'Article:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="cuerpo">Cos de l'Article:</label>
        <textarea id="cuerpo" name="cuerpo" required></textarea>
        <label for="imagen">Imatge:</label>
        <input type="file" id="imagen" name="imagen" accept="image/*">
        <button type="submit">Modificar</button>
    </form>

    <script>
        // Obtener los parámetros de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        const nombre = urlParams.get('nombre');
        const cuerpo = urlParams.get('cuerpo');
        const imagen = urlParams.get('imagen');

        // Asignar los valores a los campos del formulario
        document.getElementById('id').value = id;
        document.getElementById('nombre').value = nombre;
        document.getElementById('cuerpo').value = cuerpo;
    </script>
</body>
</html>