<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <a href="../index.php" class="btn back-to-index">Tornar a l'índex</a>
    <form action="../controllers/perfil.controller.php" method="POST" enctype="multipart/form-data">
        <h2>Mi Perfil</h2>
        <label for="nombre">Nom:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" readonly>
        <label for="imagen">Foto de Perfil:</label>
        <input type="file" id="imagen" name="imagen" accept="image/*">
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>