<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Registrar-se</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <form action="../controllers/register.controller.php" method="POST">
        <h2>Registrar-se</h2>
        <label for="nombre">Nom:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="contraseña">Contrasenya:</label>
        <input type="password" id="contraseña" name="contraseña" required>
        <label for="confirmar_contraseña">Confirmar Contrasenya:</label>
        <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" required>
        <button type="submit">Registrar-se</button>
    </form>
</body>
</html>